{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.edit_tag'|trans }}
{% endblock %}

{% block body %}

    {#<h1>#}
        {#{{ ''|trans }}#}
    {#</h1>#}

    {#{% if tag is defined and tag|length %}#}
        {#{{ include('tag/_form.html.twig', {#}
            {#form: form,#}
            {#button_label: 'action.save'|trans,#}
            {#action: url('tag_edit', {'id': tag.id})#}
        {#}, with_context = false) }}#}

        {#{{ form_start(form, { method: 'post', action: url('tag_edit', {'id': tag.id}) }) }}#}
            {#{{ include('_form.html.twig')}}#}
        {#from start i from end#}
        {#{% if false == form.vars.valid %}#}
            {#<div class="alert alert-danger" role="alert">#}
            {#<button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
                {#<span aria-hidden="true">&times;</span>#}
            {#</button>#}
            {#{{ 'message.form_error'|trans }}#}
            {#wiadomosc z formularza#}
        {#{% endif %}#}
        {#{{ form_widget(form) }}#}
        {#<div>#}
            {#<input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />#}
        {#</div>#}

        {#{{ form_end(form) }}#}


    {#{{ include('_form.html.twig', {'url': 'tag_edit', 'id': tag.id}) }}#}

    {% include 'default/_form.html.twig' with {
    page_title: 'title.edit_tag',
    page_title_param: {'%id%': tag.id},
    attr: {
    method: 'post',
    action: url('tag_edit', {'id': tag.id}),
    },
    back_to_list_path: 'tag_index',
    } %}

{% endblock %}