{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'bookmarks'|trans }}</h1>

    {% if bookmarks is defined and bookmarks|length %}

        {% for bookmark in bookmarks %}
            <dl>
                <dt>
                    <h1>{{ 'label.id'|trans }}</h1>
                </dt>
                <dd>
                    {#<h2><a href="{{ path('bookmark_view', { id: loop.index0 }) }}">{{ loop.index0 }}</a></h2>#}
                {{ bookmark.id }}
                </dd> {#kolejny ele. liczony od zera#}
                <dt>{{ 'label.url'|trans }}</dt>
                <dd>{{ bookmark.url }}</dd>
                <dt>{{ 'tags'|trans }}</dt>
            {% for tag in bookmark.tags %}
                <dd>{{ tag.name }}</dd>
            {% endfor %}
                <a href="{{ path('bookmark_view', {'id': bookmark.id}) }})">{{ 'link'|trans }}</a>
                <dd>
                    <a href="{{ path('bookmark_edit', {'id': bookmark.id}) }}">
                        {{ 'action.edit'|trans }}
                    </a>
                </dd>
                <dd>
                    <a href="{{ path('bookmark_delete', {'id': bookmark.id}) }}">
                        {{ 'action.delete'|trans }}
                    </a>
                </dd>
            </dl>
        {% endfor %}

        <div class="btn-group" role="group" aria-label="{{ 'label.add'|trans }}">
            <a href="{{ path('bookmark_add') }}" class="btn btn-default" title="{{ 'action.add'|trans }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ 'action.add'|trans }}
            </a>
        </div>

        {% if bookmarks.haveToPaginate %}
            <div class="navigation text-center">
                {{ pagerfanta(bookmarks, 'twitter_bootstrap3_translated', { routeName: 'bookmark_index_paginated' }) }}
            </div>
        {% endif %}


    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}